
  <div class="">
    <%= link "Logout", to: Routes.user_path(@conn, :logout), method: :post%>
  </div>

<p>Welcome to <b>EERF</b>. You can go to an existing room
or create a new one using the form below.
</p>

<form action="find_room" method="GET">
	<input type="text" id="room" name="room_name" placeholder="Name of the room..."/>
	<input type="submit" value="Go">
</form>

<div>
  <h2>Trending Rooms</h2>
  <hr />
  <%= render(EerfWeb.AtView, "list_rooms.html", rooms: @trending_rooms) %>
</div>
